*~
*.swp
*.swo

/clj/*
/target
/lib
/classes
/checkouts
/resources/public/js
/resources/public/css
/resources/public/images/photography
ohjeet
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
