// SHARED STYLES

.arrow {
  fill: rgba(0, 0, 0, 0.5);
  height: 12vmin;
  position: fixed;
  width: 12vmin;

  &:hover {
    fill: rgba(0, 0, 0, 0.75);
  }

  @media (min-width: 0) {

    &.next {
      bottom: 5px;
      right: 44vw;
      transform: rotate(90deg);
    }

    &.prev {
      right: 44vw;
      top: 5px;
      transform: rotate(90deg);
    }
  }

  @media (min-width: 400px) and (min-height: 200px) and (orientation: landscape) {

    &.next {
      right: 5px;
      top: 44vh;
      transform: rotate(0);
    }

    &.prev {
      left: 5px;
      top: 44vh;
      transform: rotate(0);
    }
  }
}

.content.full {
  height: 100vh;
  position: relative;
  width: 100vw;
}

// PAGE-SPECIFIC STYLES

.about-page {

  .bits {
    background-color: #e3e3e3;
  }

  .title { 
    color: #aaa;
    font-size: 8vmin;
  }

  @media (min-width: 0) {
    width: 100%;

    section {
      padding: 8vh 5vh;
    }

    section.intro {
      width: 100%;

      img {
        height: 80vh;
      }

      p {
        color: #666;
        font-size: 4vmin;
      }
    }
  }

  @media (min-width: 400px) and (min-height: 200px) and (orientation: landscape) {

    section {
      height: 100vh;
      padding: 6vh 10vw;
    }

    section.intro {

      img {
        border: 1px solid #aaa;
        height: 100%;
        max-height: 90vmin;
        width: 100%;
        padding: 8px;
        transform: rotate(3deg);
      }

      p {
        font-size: 3vmin;
      }

      .left {
        display: inline-block;
        padding: 5%;
        vertical-align: top;
        width: 59%;
      }

      .right {
        display: inline-block;
        vertical-align: top;
        width: 40%
      }
    }
  }
}

.main-page {
  background-image: url(/images/main.jpg);
  background-size: cover;
  color: #d3ffae;
  height: 100%;
  width: 100%;

  @media (min-width: 0) {

    .quote {
      font-size: 5vh;
      padding: 25vh 0 0 10vw;
      width: 80vw;
    }

    .author {
      padding-left: 10vw;
      width: 80vw;
    }

    .title {
      position: absolute;
      bottom: 12vh;
      right: 10vw;
      font-size: 7vh;
    }
  }

  @media (min-width: 400px) and (min-height: 200px) and (orientation: landscape) {

    .quote {
      font-size: 5vh;
      padding: 35vh 0 0 12vmax;
      width: 40vw;
    }

    .author {
      padding-left: 12vmax;
      width: 40vw;
    }

    .title {
      position: absolute;
      bottom: 12vh;
      right: 15vw;
      font-size: 8vh;
    }
  }
}

