.photos-gallery-page {

  .title {
    color: #aaa;
    font-size: 6vmin;
    height: 0;
    padding: 10vh 10vw;
    width: 80vw;
  }

  @media (min-width: 0) {

    padding-bottom: 15vmin;

    .faces {
      img {
        width: 100%;
      }

      .gallery-photo.hidden {
        display: block !important;
      }
    }

    .thumbs {
      display: none;
    }

  }


  @media (min-width: 400px) and (min-height: 200px) and (orientation: landscape) {

    padding: 0;

    .faces {
      width: 100%;

      .gallery-photo {
        width: auto;
        margin: 0 auto;
        max-width: 1020px;
        max-height: calc("80vh + 20px");
        border: 1px solid #aaa;
        padding: 10px;

        &.hidden {
          display: none !important;
        }

        img {
          width: auto;
          height: auto;
          margin: 0 auto;
          max-width: 1000px;
          max-height: 80vh;
        }
      }
    }

    .thumbs {
      display: inline-block;
    }

    .title {
      width: 100%;
      font-size: 3vmin;
      text-align: center;
      padding: 2vh 10vw;
    }

  }
}

