.arrow {
  fill: rgba(0, 0, 0, 0.5);
  height: 12vmin;
  position: fixed;
  width: 12vmin;
}
.arrow:hover {
  fill: rgba(0, 0, 0, 0.75);
}
@media (min-width: 0) {
  .arrow.next {
    bottom: 5px;
    right: 44vw;
    transform: rotate(90deg);
  }
  .arrow.prev {
    right: 44vw;
    top: 5px;
    transform: rotate(90deg);
  }
}
@media (min-width: 400px) and (min-height: 200px) and (orientation: landscape) {
  .arrow.next {
    right: 5px;
    top: 44vh;
    transform: rotate(0);
  }
  .arrow.prev {
    left: 5px;
    top: 44vh;
    transform: rotate(0);
  }
}
.content.full {
  height: 100vh;
  position: relative;
  width: 100vw;
}
.about-page .bits {
  background-color: #e3e3e3;
}
.about-page .countries {
  background-color: #f2f2ff;
}
.about-page .countries .title {
  color: #6daeba;
}
.about-page .title {
  color: #aaa;
  font-size: 8vmin;
}
.about-page .subtitle {
  color: #666;
  font-size: 4vmin;
  font-weight: 600;
  margin-top: 5vmin;
}
.about-page .table {
  display: table;
  margin-top: 5vmin;
}
.about-page .table .space {
  padding: 2vmin;
}
.about-page .table .tr {
  display: table-row;
}
.about-page .table .tr .td {
  display: table-cell;
}
.about-page .table .tr .td:nth-child(1) {
  width: 30vw;
}
@media (min-width: 0) {
  .about-page {
    width: 100%;
  }
  .about-page p,
  .about-page .td {
    color: #666;
    font-size: 4vmin;
  }
  .about-page section {
    padding: 8vh 5vh;
  }
  .about-page section.intro {
    width: 100%;
  }
  .about-page img {
    max-width: 90%;
  }
  .about-page img:nth-child(1) {
    display: none;
  }
  .about-page img:nth-child(2n) {
    display: block;
  }
}
@media (min-width: 400px) and (min-height: 200px) and (orientation: landscape) {
  .about-page p,
  .about-page .td {
    font-size: 3vmin;
  }
  .about-page .table {
    margin-left: 5vmin;
  }
  .about-page .table .tr .td:nth-child(1) {
    width: 20vw;
  }
  .about-page section {
    height: 100vh;
    padding: 6vh 10vw;
  }
  .about-page section.intro img {
    border: 1px solid #aaa;
    float: right;
    margin: 8px;
    max-height: 100vh;
    max-width: 40%;
    padding: 8px;
    transform: rotate(3deg);
  }
  .about-page section.intro img:nth-child(1) {
    display: block;
  }
  .about-page section.intro img:nth-child(2n) {
    display: none;
  }
  .about-page section.intro p {
    padding: 0 5%;
  }
  .about-page section.intro .title {
    margin: 3vmin;
  }
}
.main-page {
  background-image: url(/images/main.jpg);
  background-size: cover;
  color: #d3ffae;
  height: 100%;
  width: 100%;
}
@media (min-width: 0) {
  .main-page .quote {
    font-size: 5vh;
    padding: 25vh 0 0 10vw;
    width: 80vw;
  }
  .main-page .author {
    padding-left: 10vw;
    width: 80vw;
  }
  .main-page .title {
    position: absolute;
    bottom: 12vh;
    right: 10vw;
    font-size: 7vh;
  }
}
@media (min-width: 400px) and (min-height: 200px) and (orientation: landscape) {
  .main-page .quote {
    font-size: 5vh;
    padding: 35vh 0 0 12vmax;
    width: 40vw;
  }
  .main-page .author {
    padding-left: 12vmax;
    width: 40vw;
  }
  .main-page .title {
    position: absolute;
    bottom: 12vh;
    right: 15vw;
    font-size: 8vh;
  }
}
